@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,300;1,500&family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 10;
}

body {
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

p {
  font-family: "Lato", sans-serif;
}


